
<style>
    @@media (min-width: 767px) {
        iframe{
            height:360px;
        }
    }
</style>
<script>
    $(document).ready(function () {
        $('.nav-tabs a:first').tab('show');
    });
    
</script>
<!-- Titlebar
================================================== -->
<div class="row space40"></div>
<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h5 class="left">선교지 & 선교사 배정</h5>
        </div>

        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>선교</li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Container / End -->
</section>
<div class="content">
    <div class="container">
        <div class="row space40"></div>
        <!-- Tabs -->
        <div class="tabbable">
            <ul class="nav nav-tabs" style="margin-left:15px;">
                <li class="active"><a href="#dominican" data-toggle="tab">도미니카</a></li>
                <li><a href="#vietnam" data-toggle="tab">베트남</a></li>
                <li><a href="#china" data-toggle="tab">홍콩, 중국</a></li>
                <li><a href="#NKorea" data-toggle="tab">북한</a></li>
                <li><a href="#mexico" data-toggle="tab">멕시코</a></li>
                <li><a href="#burkinaFaso" data-toggle="tab">브키나파소</a></li>
                <li><a href="#philippines" data-toggle="tab">필리핀</a></li>
                <li><a href="#cambodia" data-toggle="tab">캄보디아</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="dominican">
                    <h3>Dominican Republic</h3>
                    <!-- Content -->
                    <div id="content">
                        <div class="container">
                            <div class="row">
                                <div class="span12">
                                    <h3>&nbsp;</h3>
                                </div>

                                <div class="span9">

                                    <!-- Blog Item -->
                                    <div class="row">
                                        <div class="span1">

                                            <div class="blog-icon">
                                                <i class="icon-camera"></i><br>
                                                <h5>Gallery Post</h5>
                                            </div>

                                        </div>
                                        <div class="span8">
                                            <a href="blog-detail.htm"><img src="~/img/rkbc/img1.jpg" alt=""></a>

                                            <div class="row">
                                                <div class="span8 post-d-info">
                                                    <a href="blog-detail.htm"><h3>Ancient Timbuktu Texts in Danger?</h3></a>
                                                    <div class="blue-dark">
                                                        <i class="icon-user"></i> By Admin <i class="icon-tag"></i> Photography | Portrait <i class="icon-comment-alt"></i> With 12 Comments
                                                    </div>
                                                    <p>
                                                        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.Pie wafer wypas candy canes toffee. Cookie icing candy jelly oat cake chupa chups bear claw.
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Blog Item End -->

                                    <div class="row space40"></div>

                                    <!-- Blog Item -->
                                    <div class="row">
                                        <div class="span1">

                                            <div class="blog-icon">
                                                <i class="icon-film"></i><br>
                                                <h5>Video Post</h5>
                                            </div>

                                        </div>
                                        <div class="span8">
                                            <div class="">
                                                <iframe style="width:100%;" src="https://www.youtube.com/embed/Iyf1kmW1AcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>



                                            <div class="post-d-info">
                                                <a href="blog-detail.htm"><h3>Ancient Timbuktu Texts in Danger?</h3></a>
                                                <div class="blue-dark">
                                                    <i class="icon-user"></i> By Admin <i class="icon-tag"></i> Photography | Portrait <i class="icon-comment-alt"></i> With 12 Comments
                                                </div>
                                                <p>
                                                    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.Pie wafer wypas candy canes toffee. Cookie icing candy jelly oat cake chupa chups bear claw.
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Blog Item End -->

                                    <div class="row space40"></div>

                                    <!-- Blog Item -->
                                    <div class="row">
                                        <div class="span1">

                                            <div class="blog-icon">
                                                <i class="icon-quote-right"></i><br>
                                                <h5>Single Post</h5>
                                            </div>

                                        </div>
                                        <div class="span8">
                                            <a href="blog-detail.htm"><img src="~/img/rkbc/img2.jpg" alt=""></a>

                                            <div class="post-d-info">
                                                <a href="blog-detail.htm"><h3>Ancient Timbuktu Texts in Danger?</h3></a>
                                                <div class="blue-dark">
                                                    <i class="icon-user"></i> By Admin <i class="icon-tag"></i> Photography | Portrait <i class="icon-comment-alt"></i> With 12 Comments
                                                </div>
                                                <p>
                                                    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.Pie wafer wypas candy canes toffee. Cookie icing candy jelly oat cake chupa chups bear claw.
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Blog Item End -->

                                    <div class="row space30"></div>

                                    <!-- Paging -->
                                    <div class="row">
                                        <div class="span9">
                                            <a href="#" class="paging">&#62;</a>
                                            <a href="#" class="paging">84</a>
                                            <a href="#" class="paging">83</a>
                                            <a href="#" class="paging">82</a>
                                            <a href="#" class="paging">...</a>
                                            <a href="#" class="paging">3</a>
                                            <a href="#" class="paging">2</a>
                                            <a href="#" class="paging">1</a>
                                            <a href="#" class="paging">&#60;</a>
                                        </div>
                                    </div>
                                    <!-- Paging End -->

                                    <div class="row space40"></div>

                                </div>

                                <!-- Side Bar -->
                                <div class="span3">

                                    <h3 class="p-t-0">Search</h3>
                                    <div class="search-box">
                                        <a href="#" class="search-icon"><i class="icon-search"></i></a>
                                        <input class="search" name="" value="Search">
                                    </div>

                                    <h3>Categories</h3>
                                    <ul class="list-c">
                                        <li><i class="icon-chevron-right"></i><a href="#">Business Plan</a></li>
                                        <li><i class="icon-chevron-right"></i><a href="#">Entertainment</a></li>
                                        <li><i class="icon-chevron-right"></i><a href="#">News & Politics</a></li>
                                        <li><i class="icon-chevron-right"></i><a href="#">Social Media Networks</a></li>
                                        <li><i class="icon-chevron-right"></i><a href="#">Technology & Innovation</a></li>
                                    </ul>

                                    <h3>Tags</h3>
                                    <a href="#"><div class="tag">WordPress</div></a>
                                    <a href="#"><div class="tag">Webdesign</div></a>
                                    <a href="#"><div class="tag">Post-processing</div></a>
                                    <a href="#"><div class="tag">Tourism</div></a>
                                    <a href="#"><div class="tag">Rendering</div></a>
                                    <a href="#"><div class="tag">Photography</div></a>

                                    <h3>Latest Tweets</h3>
                                    <i class="icon-twitter"></i> Saying "Wow, You're cool." when you see someone doing something stupid. <a href="#" rel="external">http://t.co/YywnqBb8</a><br>
                                    6 minutes ago
                                    <br><br>
                                    <i class="icon-twitter"></i> Are you getting ready to work on a new project, take off on a sales trip.
                                    <a href="#" rel="external">http://pic.witt.com.co/Uyoyyk#sp</a><br>
                                    33 minutes ago

                                    <h3>Photos From Flickr</h3>
                                    <div class="flickr-widget">
                                        <div class="photo-stream">
                                            <img src="img/stream/01.jpg" alt="">
                                        </div>
                                        <div class="photo-stream">
                                            <img src="img/stream/02.jpg" alt="">
                                        </div>
                                        <div class="photo-stream">
                                            <img src="img/stream/03.jpg" alt="">
                                        </div>
                                        <div class="photo-stream">
                                            <img src="img/stream/04.jpg" alt="">
                                        </div>
                                        <div class="photo-stream">
                                            <img src="img/stream/05.jpg" alt="">
                                        </div>
                                        <div class="photo-stream">
                                            <img src="img/stream/06.jpg" alt="">
                                        </div>
                                    </div>

                                    <h3>Text Widget</h3>
                                    Amet, consectetur adipisicing elit, sedure doriatlor in fugiat nulla  deserunt mollit anim id est laborum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit orn.

                                    <div class="row space50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content End -->
                </div>
                <div class="tab-pane" id="vietnam">
                    <h3>Vietnam</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcinim veniam, quis nostrud exerci tation ullamcorper t lobortis nisl ut alisequat. Duis autem vel einim veniam, quis nostrud exerinim veniam, quis nostrud exerci tation ullamcorper suscipit lobci tation ullamcorper suscipit lobum iriure dolor in hendrerit in vul</p>
                </div>
                <div class="tab-pane" id="china">
                    <h3>China</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea coiipit lobmmodo consequat. Duis autem vel eum iriure dolor in hendrerit in vinim veniam, quis nostrud einim veniam, quis nostrud exerci tation ullamcorper suscipit lobxerci tation ullamcorper suscipit lobul</p>
                </div>
                <div class="tab-pane" id="NKorea">
                    <h3>North Korea</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea coiipit lobmmodo consequat. Duis autem vel eum iriure dolor in hendrerit in vinim veniam, quis nostrud einim veniam, quis nostrud exerci tation ullamcorper suscipit lobxerci tation ullamcorper suscipit lobul</p>
                </div>
                <div class="tab-pane" id="mexico">
                    <h3>Mexico</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea coiipit lobmmodo consequat. Duis autem vel eum iriure dolor in hendrerit in vinim veniam, quis nostrud einim veniam, quis nostrud exerci tation ullamcorper suscipit lobxerci tation ullamcorper suscipit lobul</p>
                </div>
                <div class="tab-pane" id="burkinaFaso">
                    <h3>Burkina Faso</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea coiipit lobmmodo consequat. Duis autem vel eum iriure dolor in hendrerit in vinim veniam, quis nostrud einim veniam, quis nostrud exerci tation ullamcorper suscipit lobxerci tation ullamcorper suscipit lobul</p>
                </div>
                <div class="tab-pane" id="philippines">
                    <h3>Philippines</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea coiipit lobmmodo consequat. Duis autem vel eum iriure dolor in hendrerit in vinim veniam, quis nostrud einim veniam, quis nostrud exerci tation ullamcorper suscipit lobxerci tation ullamcorper suscipit lobul</p>
                </div>
                <div class="tab-pane" id="cambodia">
                    <h3>Cambodia</h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea coiipit lobmmodo consequat. Duis autem vel eum iriure dolor in hendrerit in vinim veniam, quis nostrud einim veniam, quis nostrud exerci tation ullamcorper suscipit lobxerci tation ullamcorper suscipit lobul</p>
                </div>
            </div>
        </div>
        <!-- Tabs End -->
    </div>
</div>

