
@{
    ViewData["Title"] = "Index";
}
<!-- Titlebar
================================================== -->
<div class="row space40"></div>
<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h5 style="margin:0 10px;" class="left">"우리 주 예수 그리스도를 변함없이 사랑하는 모든자 에게 은혜가 있을찌어다" 엡 6:24</h5>
        </div>

        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>목회자 칼럼</li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Container / End -->
</section>
<div class="content" style="margin: 0 10px;">
    <div class="container">
        <div class="row space40"></div>
        <div class="row">
            <div class="span12">

                <!-- Blog Item -->
                <div class="row">
                    <div class="span1">

                        <div class="blog-icon">
                            <i class="icon-quote-right"></i><br>

                        </div>
                        <h5>칼 럼</h5>
                    </div>
                    <div class="span10">
                        <div class="post-d-info">
                            <a href="blog-detail.htm"><h4>주님께서는 반드시 우리가 그분께 늘 의지하도록 하신다.</h4></a>
                            <div class="blue-dark">
                                <i class="icon-user"></i> By 이순신 목사 (Soon-Shin Choi)
                            </div>
                            <p>
                                주님께서는 반드시 우리가 그분께 늘 의지하도록 하신다. 우리가 감당할 수 없는 상황으로 우리를 인도하심으로써 그렇게 하신다. 그렇기때문에 우리가 걱정하더라도 하나님께서는 걱정하지 않으신다. 무엇을 행할 것인지 이미 알고 계시기 때문이다. 그분께는 걸어갈 길과 해야할 일에 대한 계획이 이미 있으며, 그것은 우리를 위해 온전히 준비되어 있다. 이런 이야기가 있다.<br /><br />한 젊은이가 그리스도를 믿는 믿음 때문에 감옥에 있는데 다음날 기둥에 묶여 화형될 처지였다. 같은 감방에 나이도 많고 연륜도 깊은 신자가 있었는데 주님의 도에 더 잘 아는 사람이었다. 날이 어두워지자 젊은이는 호에 불을 붙이려고 했고 그러다가 손가락을 데었다. 손가락의 고통 때문에 소리를 지르면서 그 동료에게 물었다. "손가락 데인것도 참을 수 없는데, 기둥에 묶여 화형되는 걸 어떻게 참죠?" 그 연장자는 조용히 대답했다. "젊은이! 하나님께서는 당신에게 손가락을 데라고 하지 않으셨기 때문에 그 일에 대해서는 아무 은햬도 임하지 않았지만, 믿음을 위해 목숨을 잃는 것은 하나님께서 당신에게 요구하시는 것이므로 그때가 되면 하나님의 은햬가 그곳에 임할 것이오." <br /><br />하나님께서는 우리가 이 세상을 살아갈때 겪는 모든 일을 처리할 계획을 갖고 계신다. 하나님의 넉넉한 은혜는 우리의 부족을 채우신다.
                            </p>
                        </div>
                        <div class="row space40"></div>
                        <a href="blog-detail.htm"><img src="~/img/rkbc/pastorFamily.jpg" alt=""></a>



                    </div>
                </div>
                <div class="row space40"></div>
                <!-- Blog Item End -->
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>새신자 질문 (FAQ)</h3>
                <!-- Accordion -->
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                랄리한인교회는 어떤교회인가요?
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                랄리한인교회는 미남침례교회에 소속된교회입니다. 개척한지 16년이 되었으며 개척이래 지금까지 하나님의 은혜로 지속적으로 성장하고 있는 교회입니다.랄리한인교회는 건강한교회를 만들기 위하여 힘쓰고 있습니다. 건강한 교회를 위해서 예배에 성공하고 기도로 승리하며 말씀에 순종하는 표어입니다. 두날개로 날아오르는 건강한교회입니다. 예배에 은혜와 능력이 넘치며 말씀이 살아 움직이는 교회입니다. 랄리한인교회에 오신다면 인생의 새로운 전환기를 맞이하실 것을 확신합니다.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                목사님을 만나 뵐수 있나요?
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                예 교회에 처음오시는 분은 누구나 목사님과 5주동안 새생명 성경공부를 하고 있습니다. 개인적으로 만나시길 원하시는 분은 새가족 명단에 심방을 원한다고 기제하시면 전화한 후 심방을 하십니다.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                어떻게 신자가 되나요?
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                누구든지 예수 그리스도를 구주로 믿으면 신자가 됩니다. 신자가 된 사람은 침례를 받습니다.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                아이들은 어디로 가나요?
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse">
                            <div class="accordion-inner">
                                아이들은 교회 뒤에 교육관에서 따로 예배를 드립니다. 아이들을 데여다 주시면 선생님들이 분반을 정해서 가르쳐 주고 잘 돌봐 줄 것입니다.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion End -->
            </div>
        </div>

</div>
</div>