@using rkbc.core.models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*@if (User.Identity.IsAuthenticated)*@
    @if (ViewBag.UserSettings !=null && ViewBag.UserSettings.userId != null && ViewBag.UserSettings.isAdmin)
    {
        <li>
            <a class="nav-link text-dark" href="/Administration/Details/@ViewBag.UserSettings.userId"> @ViewBag.UserSettings.email!</a>
        </li>
        <li>

            <a href="@Url.Action("Logout", "Administration")">Logout</a>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
