@using rkbc.core.models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor httpContext

@if (User.Identity.IsAuthenticated)

    {
        <li>
            <a class="nav-link text-dark" href="/Administration/Details/@httpContext.HttpContext.User.Identity.Name"> @User.Identity.Name!</a>
        </li>
        <li>

            <a href="@Url.Action("Logout", "Administration")">Logout</a>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Administration")">Login</a>
        </li>
    }
