@model rkbc.web.viewmodels.HomeAttachmentIndexViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<script>
    $(function () {
        var HomeAttachmentViewModel = function (parentGrid, dataJS) {
            var data = dataJS || {};
            var self = this;
            self = ko.mapping.fromJS(data);
            //var self = this;
            //self.id = ko.observable(dataJS.id);
            //self.url = ko.observable(dataJS.url);
            //self.sectionId = ko.observable(dataJS.sectionId);
            //Validation
            return (self);
            
        };

        var vm = new ko.GridViewModel({
            ctor: HomeAttachmentViewModel,
            indexUrl: '/Attachment/GetRecords',
            getUrl: '/Attachment/GetRecord',
            pageSize: @Model.getRecordCount,
            currentPage: @(Model.getStartRecord/Model.getRecordCount),
            sortable: {}
        });  

        vm.addFile = function () {
                var fileEle = $("#upload");
                fileEle.click();
                fileEle.change(function (e) {
                    e.preventDefault();
                    var file = this.files[0];
                    if (file) {
                        var form = new FormData();
                        form.append("image", file);
                        $.ajax({
                            type: "post",
                            url: "/Attachment/SaveAttachment",
                            data: form,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.success) {
                                    fileEle.val(null);
                                    var item = new HomeAttachmentViewModel(vm, data.item);
                                    vm.addItem(item);
                                } else {

                                }
                            },
                            error: function (request, error) {
                                alert("Request: "+JSON.stringify(request));
                            }
                        });  

                    }
                });

            };  
            
   
        
        
            

        vm.initializeData(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.InitialData)));
        ko.applyBindings(vm);
    });
</script>
<div>
    <div>
        <input type="file" id="upload" style="display:none;"/>
        <button data-bind="click:addFile">Add New</button>
    </div>
    <ul class="portfolio">
        <!-- ko foreach: items -->
        <li>
            <article class="span3 project" data-tags="photography">
                <div class="square-1">
                    <div class="img-container">
                        <input type="text" data-bind="value:id">
                        <img data-bind="attr:{src:url}" alt="">
                        <div class="img-bg-icon"></div>
                    </div>
                    <p>
                        <select data-bind="options: $parent.sectionList,
                            optionsText: 'name',
                            optionsValue: 'id',
                            value: sectionId,
                            optionsCaption: 'Select...'"></select>
                    </p>
                    <div>
                        <button data-bind="saveServer">Edit</button>
                        <button data-bind="deleteServer">Delete</button>
                    </div>
                </div>


            </article>

        </li>
        <!--/ko-->
    </ul>
</div>
<div>
    <input type="button" value="Prev" data-bind="click: prevPage, jqButton: { disabled: !prevPageEnabled() }" class="makeButton" />
    <input type="button" value="Next" data-bind="click: nextPage, jqButton: { disabled: !nextPageEnabled() }" class="makeButton" />
</div>

    



