@model rkbc.web.viewmodels.HomeAttachmentIndexViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<script>
    $(function () {
        var HomeAttachmentViewModel = function (dataJS) {
            var data = dataJS || {};
            var self = this;
            self = ko.mapping.fromJS(dataJS);
            //var self = this;
            //self.id = ko.observable(dataJS.id);
            //self.url = ko.observable(dataJS.url);
            //self.sectionId = ko.observable(dataJS.sectionId);
            //Validation
            return (self);
            
        };

        var MainVM = function (data) {
            var self = this;
            self.items = ko.observableArray([]);
            //self.sectionlist = data.sectionList;
            self.sectionlist = [{id:105, name:"Home Gallery"}]

            var data = $.map(data, function (el) {
                return new HomeAttachmentViewModel(el);
            });
            self.items(data);
            //for (var i = 0; i < data.length; i++){
                
            //    self.items.push(new HomeAttachmentViewModel(data[i]));
            //}
            

            self.addItem = function (item) {
                self.push(new HomeAttachmentViewModel(item));
            }
            self.sortByName = function() {
                self.items.sort(function(a, b) {
                    return a.name < b.name ? -1 : 1;
                });
            };

           

            };  
            
            
   
        
        
            
        
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.InitialData));
        ko.applyBindings(new MainVM(data));
    });
</script>
<div>
    <div>
        
    </div>
    <ul class="portfolio">
        <!-- ko foreach: items -->
        <li>
            <article class="span3 project" data-tags="photography">
                <div class="square-1">
                    <div class="img-container">
                        <input type="text" data-bind="value:id">
                        <img data-bind="attr:{src:url}" alt="">
                        <div class="img-bg-icon"></div>
                    </div>
                    <p>
                        <select data-bind="options: $parent.sectionList,
                            optionsText: 'name',
                            optionsValue: 'id',
                            value: sectionId,
                            optionsCaption: 'Select...'"></select>
                    </p>
                    <div>
                        <button data-bind="saveServer">Edit</button>
                        <button data-bind="deleteServer">Delete</button>
                    </div>
                </div>


            </article>

        </li>
        <!--/ko-->
    </ul>
</div>

    



