
@{
    ViewData["Title"] = "Index";
}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h3 class="left">랄리 비전 한국 학교 </h3>
        </div>

        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="#">Home</a></li>
                    <li>한글학교</li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Container / End -->
</section>

<!-- Content -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4>랄리비전 한국학교는 하나님의 말씀 안에 기독 교적 교육 이념을 바탕으로 교육을 실시합니다.</h4>
                <p>랄리비전 한국학교는 1996년 1월에 랄리지역 한국 어린이들에게 한국말과 성경을 가르치기 위해서 처음으로 생겼습니다. 우리는 랄리 뿐만 아니라 주변에 계신 모든 사람들에게 인종을 초월하여 한국어와 문화를 가르치고 있습니다. 2005년부터 SAT영어반과 수학반, 영어기초반이 생겼습니다. 학교시작은 매주 토요일 오전 10시에 있습니다. (32주) 현재 우리는 50면의 학생과 16분의 선생님들이 있습니다.  </p>

                <p>Raleigh Vision Korean School was founded in 1996 to teach the Korean Language to local Korean children in North Carolina. We provide the opportunity for all people to learn about the Korean language and culture in an academic environment. In addition, our school after SAT our preparation classes for both English and Math. We also after beginner's English class. Our classes are held on Saturday mornings from 10:00am to 1pm during the school year (16sessions in each term). Our school consists of approximately 50 students and 16 teachers.</p>

                <h3>RVKS is a center of learning based on the principles of Christian teaching of the Bible.</h3>
                <div class="ic-1"></div>
                <img src="~/img/rkbc/koreanSchool.jpg" alt="">
                <div class="space40"></div>
                <div class="row">
                    
                    <div class="span8">
                        <div class="title-1"><h4>Our Service:</h4></div>
                        <!-- List -->
                        <div class="text-1">
                            <ul class="list-b">
                                <!-- List Items -->
                                <li><i class="icon-ok"></i> 봄 학기 (Spring Semester): 1월 마지막 주 토요일 (January last week Sat.)</li>
                                <li><i class="icon-ok"></i> 가을학기 (Fall Semester): 8월 마지막 주 토요일 (August last week Sat.)</li>
                                <li><i class="icon-ok"></i> 시간(Time): 토요일 10:00am-1:00pm</li>
                                <li><i class="icon-ok"></i> 수업료(tuition): 1인:$50.00, 2인:$80.00, 3인:$100.00</li>
                                <li><i class="icon-ok"></i> 영어기초 학생반</li>
                                <li><i class="icon-ok"></i> <a style="color:Highlight" href="document//koreanschoolapplication.pdf">입학원서(Admission Application)</a></li>
                            </ul>
                        </div>
                        <!-- List End -->
                    </div>
                    <div class="span4">
                        <h3>Address</h3>
                        9130 Baileywick Rd<br>
                        Raleigh, NC 27615<br>
                        United States<br>
                        <br>
                        <i class="icon-phone"></i>(919) 389-7551<br>
                        <i class="icon-envelope"></i>eunyoung2u@hotmail.com<br>


                        <div class="row space40"></div>


                    </div>
                    <div class="space20"></div>
                </div>
                <div class="row space50"></div>
            </div>
        </div>
    </div>
    <!-- Content End -->
</div>

