@model rkbc.web.viewmodels.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    table td{
        background-color:white;
        border:1px solid gray !important;
        
    }
</style>
<script>
    $(function () {
        var homeItemVM = function (dataJs) {
            var self = this;
            var data = dataJs || {};
            self.id = ko.observable(data.id || 0);
            self.sectionId = ko.observable(data.sectionId || 0);
            self.content = ko.observable(data.content || "");
            self.isOn = true;

            //Add, delete
        }
        var MainVM = function (data)
        {
            var self = this;
            var data = data || {};
            
            //sundayServiceVideos,homephotoGallery
            self.churchAnnouncements = ko.observableArray([]);
            for (var i = 0; i < data.churchAnnouncements.length; i++) {
                self.churchAnnouncements.push(new homeItemVM(data.churchAnnouncements[i]));
            }
            self.memberAnnouncements = ko.observableArray([]);
            for (var i = 0; i < data.memberAnnouncements.length; i++) {
                self.memberAnnouncements.push(new homeItemVM(data.memberAnnouncements[i]));
            }
            self.schoolAnnouncements = ko.observableArray([]);
            for (var i = 0; i < data.schoolAnnouncements.length; i++) {
                self.schoolAnnouncements.push(new homeItemVM(data.schoolAnnouncements[i]));
            }
            self.addChurchAnnouncement = function () {
                self.churchAnnouncements.push(new homeItemVM());
            };
            self.addMemberAnnouncement = function () {
                self.memberAnnouncements.push(new homeItemVM());
            };
            self.addSchoolAnnouncement = function () {
                self.schoolAnnouncements.push(new homeItemVM());
            };
            self.deleteChurchAnnouncement = function () {
                self.churchAnnouncements.remove(this);
            };
            self.deleteMemberAnnouncement = function () {
                self.memberAnnouncements.remove(this);
            };
            self.deleteSchoolAnnouncement = function () {
                self.schoolAnnouncements.remove(this);
            };
        }
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
            ko.applyBindings(new MainVM(data));
    });
</script>
<form method="post" action="/Home/Edit" enctype="multipart/form-data">
    <input asp-for="id" type="hidden" />
    <!-- Content -->
    <div class="">
        <!-- Slider -->
        <div>
            <img src="@Url.Content(Model.bannerUrl)" alt="">
        </div>
        <div class="form-group">
            <label asp-for="bannerImage"></label>
            <input type="file" asp-for="bannerImage" accept="image/jpeg, image/png" class="form-control" />
            <span asp-validation-for="bannerImage" class="text-danger"></span>
        </div>

    </div> <!-- Slider End -->
    <div id="content">
        <div class="container">
            <div class="f-center">
                <label asp-for="title"></label>
                <h2><input asp-for="title" placeholder="Vision 2020" type="text" style="width:30em;" /></h2>
                <div class="head-info">
                    <label asp-for="titleContent"></label>
                    <input asp-for="titleContent" placeholder="2천명의 성도 - 2백명의 목자 - 20명의 선교사 파송" type="text" style="width:30em;" />
                </div>
            </div>
            <div class="f-hr"></div>
            <div class="row space40"></div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <!-- Service Container -->
                        <div class="span4" id="Church_Announce">
                            <!-- Service Icon -->
                            <div class="ic-1"><i class="icon-lightbulb"></i></div>
                            <!-- Service Title -->
                            <div class="title-1">
                                <label asp-for="churchAnnounceTitle"></label>
                                <h4><input asp-for="churchAnnounceTitle" placeholder="신년 금식성회" type="text" style="width:20em;" /></h4>
                            </div>
                            <!-- Service Content -->
                            <table class="text-1" data-bind="foreach:churchAnnouncements">
                                <tr>
                                    <td>
                                        <input type="hidden" data-bind="value:id, attr:{name:'churchAnnouncements[' + $index() + '].id'}" />
                                        <input type="hidden" data-bind="value:sectionId, attr:{name:'churchAnnouncements[' + $index() + '].sectionId'}" />
                                        <input type="text" data-bind="value:content, attr:{name:'churchAnnouncements[' + $index() + '].content'}" />
                                    </td>
                                    <td><button data-bind="click:$parent.deleteChurchAnnouncement">Delete</button></td>
                                </tr>

                            </table>
                            <div style="margin-top:20px;"><button data-bind="click:addChurchAnnouncement">Add</button></div>
                        </div>
                        <!-- Service Container End -->
                        <div class="span4" id="Member_Announce">
                            <div class="ic-1"><i class="icon-comment"></i></div>
                            <div class="title-1">
                                <label asp-for="memberAnnounceTitle"></label>
                                <h4><input asp-for="memberAnnounceTitle" placeholder="송구영신 예배" type="text" style="width:20em;" /></h4>
                            </div>
                            <table class="text-1" data-bind="foreach:memberAnnouncements">
                                <tr>
                                    <td>
                                        <input type="hidden" data-bind="value:id, attr:{name:'memberAnnouncements[' + $index() + '].id'}" />
                                        <input type="hidden" data-bind="value:sectionId, attr:{name:'memberAnnouncements[' + $index() + '].sectionId'}" />
                                        <input type="text" data-bind="value:content, attr:{name:'memberAnnouncements[' + $index() + '].content'}" />
                                    </td>
                                    <td><button data-bind="click:$parent.deleteMemberAnnouncement">Delete</button></td>
                                </tr>

                            </table>
                            <div style="margin-top:20px;"><button data-bind="click:addMemberAnnouncement">Add</button></div>
                        </div>
                        <div class="span4" id="School_Announce">
                            <div class="ic-1"><i class="icon-eye-open"></i></div>
                            <div class="title-1">
                                <label asp-for="schoolAnnounceTitle"></label>
                                <h4><input asp-for="schoolAnnounceTitle" placeholder="한글 학교" type="text" style="width:20em;" /></h4>
                            </div>
                            <table class="text-1" data-bind="foreach:schoolAnnouncements">
                                <tr>
                                    <td>
                                        <input type="hidden" data-bind="value:id, attr:{name:'schoolAnnouncements[' + $index() + '].id'}" />
                                        <input type="hidden" data-bind="value:sectionId, attr:{name:'schoolAnnouncements[' + $index() + '].sectionId'}" />
                                        <input type="text" data-bind="value:content, attr:{name:'schoolAnnouncements[' + $index() + '].content'}" />
                                    </td>
                                    <td><button data-bind="click:$parent.deleteSchoolAnnouncement">Delete</button></td>
                                </tr>
                            </table>
                            <div style="margin-top:20px;"><button data-bind="click:addSchoolAnnouncement">Add</button></div>
                        </div>
                    </div>
                </div>
                <div class="space40"></div>
                <!-- Typography Row -->
                <div class="row t-row">
                    <!-- Line -->
                    <div class="span12"><hr></div>
                    <div class="span9">
                        <h2 style="font-weight:500">예배에 오신걸 환영합니다</h2>
                    </div>
                    <div class="span3">
                        <!-- Button -->
                        <div class="btn btn-blue f-right">
                            <!-- Title -->
                            <h3><i class="icon-signin hidden-tablet"></i> Accession</h3>
                        </div>
                    </div>
                    <div class="space30 visible-phone"></div>
                    <!-- Line -->
                    <div class="span12"><hr></div>
                </div>
                <!-- Typography Row End-->
                <div class="span8">
                    <h2 style="font-weight:500">Sunday Service Url</h2>
                    <div class="form-group">
                        <label asp-for="sundayServiceVideoUrl"></label>
                        <input asp-for="sundayServiceVideoUrl" placeholder="https://www.youtube.com/embed/-MincIqjMwg" type="url" style="width:30em;" />

                    </div>
                    <iframe style="width:100%;height:250px;" src="@Model.embedVideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="span4">
                    <div class="ic-1"></div>
                    <div class="title-1"><h4>예배 안내:</h4></div>
                    <!-- List -->
                    <div class="text-1">
                        <ul class="list-b">
                            <!-- List Items -->
                            <li><i class="icon-ok"></i> 아침 전통예배 9:00 AM</li>
                            <li><i class="icon-ok"></i> 아침 찬양예배 11:00 AM</li>
                            <li><i class="icon-ok"></i> 새벽기도: 6:00 AM (월-금), 7:00 AM (토)</li>
                            <li><i class="icon-ok"></i> 수요일예배 7:00 PM</li>
                            <li><i class="icon-ok"></i> Youth Meeting: Friday, 6:00 PM </li>
                        </ul>
                    </div>
                    <!-- List End -->
                </div>

            </div>


        </div>
    </div>
    <!-- Content End -->
    <div class="">
        <input class="btn btn-gray pad2" type="submit" value="Update" /> 
        <a class="btn btn-gray pad2" href="/Home/Index">Cancel</a>
    </div>
    
</form>
