@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<!-- Content -->
<div class="">
    <!-- Slider -->
    <div>
        <img src="~/img/rkbc/banner.png" alt="">
    </div>

</div>  <!-- Slider End -->
<div id="content">
    <div class="container">
        <div class="f-center">
            <h2>Vision 2020</h2>
            <div class="head-info">
                2천명의 성도 - 2백명의 목자 - 20명의 선교사 파송
            </div>
        </div>
        <div class="f-hr"></div>
        <div class="row space40"></div>
        <div class="row">
            <div class="span12">
                <div class="row">
                    <!-- Service Container -->
                    <div class="span4">
                        <!-- Service Icon -->
                        <div class="ic-1"><i class="icon-lightbulb"></i></div>
                        <!-- Service Title -->
                        <div class="title-1"><h4>신년 금식성회</h4></div>
                        <!-- Service Content -->
                        <div class="text-1">
                            여호수아 14:6-12<br />
                            이 산지를 내게 주소서<br />
                            2020년 1월2일(목)-4릴(토)<br />
                            새벽 6시, 오전 11시, 저녁8시<br />
                        </div>
                    </div>
                    <!-- Service Container End -->
                    <div class="span4">
                        <div class="ic-1"><i class="icon-comment"></i></div>
                        <div class="title-1"><h4>송구영신 예배</h4></div>
                        <div class="text-1">
                            송구영신 예배가 12월 31일 밤에 있습니다.
                            밤 9시부터 떡국 준비되어 있습니다.
                        </div>
                    </div>
                    <div class="span4">
                        <div class="ic-1"><i class="icon-eye-open"></i></div>
                        <div class="title-1"><h4>한글 학교</h4></div>
                        <div class="text-1">
                            한글 학교가 2020년 1월 25일 10시에 개강 합니다
                        </div>
                    </div>
                </div>
            </div>
            <div class="space40"></div>
            <!-- Typography Row -->
            <div class="row t-row">
                <!-- Line -->
                <div class="span12"><hr></div>
                <div class="span9">
                    <h2 style="font-weight:500">예배에 오신걸 환영합니다</h2>
                </div>
                <div class="span3">
                    <!-- Button -->
                    <div class="btn btn-blue f-right">
                        <!-- Title -->
                        <h3><i class="icon-signin hidden-tablet"></i> Accession</h3>
                    </div>
                </div>
                <div class="space30 visible-phone"></div>
                <!-- Line -->
                <div class="span12"><hr></div>
            </div>
            <!-- Typography Row End-->
            <div class="span8">
                <iframe style="width:100%;height:250px;" src="https://www.youtube.com/embed/-MincIqjMwg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="span4">
                <div class="ic-1"></div>
                <div class="title-1"><h4>예배 안내:</h4></div>
                <!-- List -->
                <div class="text-1">
                    <ul class="list-b">
                        <!-- List Items -->
                        <li><i class="icon-ok"></i> 아침 전통예배 9:00 AM</li>
                        <li><i class="icon-ok"></i> 아침 찬양예배 11:00 AM</li>
                        <li><i class="icon-ok"></i> 새벽기도: 6:00 AM (월-금), 7:00 AM (토)</li>
                        <li><i class="icon-ok"></i> 수요일예배 7:00 PM</li>
                        <li><i class="icon-ok"></i> Youth Meeting: Friday, 6:00 PM </li>
                    </ul>
                </div>
                <!-- List End -->
            </div>

        </div>
        <!--Korean School-->
        <div class="row">
            <div class="space40"></div>
            <h3>Raleigh Vision Korean School</h3>

            <div class="span8">
                <div class="title-1"><h4>Our Service:</h4></div>
                <!-- List -->
                <div class="text-1">
                    <ul class="list-b">
                        <!-- List Items -->
                        <li><i class="icon-ok"></i> 봄 학기 (Spring Semester): 1월 마지막 주 토요일 (January last week Sat.)</li>
                        <li><i class="icon-ok"></i> 가을학기 (Fall Semester): 8월 마지막 주 토요일 (August last week Sat.)</li>
                        <li><i class="icon-ok"></i> 시간(Time): 토요일 10:00am-1:00pm</li>
                        <li><i class="icon-ok"></i> 수업료(tuition): 1인:$50.00, 2인:$80.00, 3인:$100.00</li>
                        <li><i class="icon-ok"></i> 영어기초 학생반</li>
                        <li><i class="icon-ok"></i> <a style="color:Highlight" href="document//koreanschoolapplication.pdf">입학원서(Admission Application)</a></li>
                    </ul>
                </div>
                <!-- List End -->
            </div>
            <div class="span4">
                <h3>Address</h3>
                9130 Baileywick Rd<br>
                Raleigh, NC 27615<br>
                United States<br>
                <br>
                <i class="icon-phone"></i>(919) 389-7551<br>
                <i class="icon-envelope"></i>support@example.com<br>


                <div class="row space40"></div>


            </div>
            <div class="space20"></div>
        </div>

        <!-- Our Clients -->
        <div class="row">
            <div class="span12">
                <h3>Our Church</h3>
            </div>
        </div>

        <div id="our-clients" class="slider2 flexslider">
            <ul class="slides">
                <li>
                    <div class="row">
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="~/img/rkbc/img1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img5.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img6.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img7.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img8.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img9.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img10.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img11.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="square-1">
                                <a href="#" rel="external">
                                    <img src="img/rkbc/img12.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Our Clients End -->

        <div class="space50"></div>

    </div>
</div>
<!-- Content End -->